{
  "extends": "dgeibi/react",
  "rules": {
    "no-param-reassign": "off",
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/parts/resolve.part.js"
      }
    }
  },
  "overrides": [
    {
      "files": ["webpack/**/*.js"],
      "rules": {
        "no-console": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
